global
    daemon
    tune.ssl.default-dh-param 2048

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

resolvers render_dns
    nameserver dns1 8.8.8.8:53
    nameserver dns2 8.8.4.4:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

frontend http_front
    bind *:80
    default_backend render_backends

backend render_backends
    balance roundrobin
    option httpchk GET /productos HTTP/1.1\r\nHost:\ techstore-api-1-5grr.onrender.com
    http-check expect string "success"
    server api1 techstore-api-1-5grr.onrender.com:443 ssl verify none sni req.hdr(host) check fall 3 rise 2 resolvers render_dns
    server api2 proyectoad2.onrender.com:443 ssl verify none sni req.hdr(host) check fall 3 rise 2 backup resolvers render_dns