global
    # daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

resolvers dns
    nameserver google 8.8.8.8:53
    hold valid 10s

frontend http_front
    bind *:80
    default_backend render_backends

backend render_backends
    balance roundrobin
    option httpchk GET /
    http-check expect string success
    server internal_api1 127.0.0.1:8001 check fall 3 rise 2
    server internal_api2 127.0.0.1:8002 check fall 3 rise 2 backup

listen proxy_api1
    bind 127.0.0.1:8001
    mode http
    http-request set-header Host techstore-api-1-5grr.onrender.com
    option httpchk
    http-check send meth GET uri / hdr Host techstore-api-1-5grr.onrender.com
    http-check expect string success
    server api1 techstore-api-1-5grr.onrender.com:443 ssl verify none sni str(techstore-api-1-5grr.onrender.com) check check-sni techstore-api-1-5grr.onrender.com resolvers dns

listen proxy_api2
    bind 127.0.0.1:8002
    mode http
    http-request set-header Host proyectoad2.onrender.com
    option httpchk
    http-check send meth GET uri / hdr Host proyectoad2.onrender.com
    http-check expect string success
    server api2 proyectoad2.onrender.com:443 ssl verify none sni str(proyectoad2.onrender.com) check check-sni proyectoad2.onrender.com resolvers dns
