global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend render_backends

backend render_backends
    balance roundrobin
    option httpchk GET /productos
    http-check expect string "success"
    server api1 techstore-api-1-5grr.onrender.com:443 ssl verify none check fall 3 rise 2
    server api2 proyectoad2.onrender.com:443 ssl verify none check fall 3 rise 2 backup
